<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>AdminLoginServlet</display-name>
    <servlet-name>AdminLoginServlet</servlet-name>
    <servlet-class>AdminLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLoginServlet</servlet-name>
    <url-pattern>/AdminLoginServlet</url-pattern>
  </servlet-mapping>
  <display-name>bank apllication</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>RegisterCustomerServlet</display-name>
    <servlet-name>RegisterCustomerServlet</servlet-name>
    <servlet-class>RegisterCustomerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterCustomerServlet</servlet-name>
    <url-pattern>/RegisterCustomerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerLoginServlet</display-name>
    <servlet-name>CustomerLoginServlet</servlet-name>
    <servlet-class>CustomerLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerLoginServlet</servlet-name>
    <url-pattern>/CustomerLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DepositServlet</display-name>
    <servlet-name>DepositServlet</servlet-name>
    <servlet-class>DepositServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DepositServlet</servlet-name>
    <url-pattern>/DepositServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WithdrawServlet</display-name>
    <servlet-name>WithdrawServlet</servlet-name>
    <servlet-class>WithdrawServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WithdrawServlet</servlet-name>
    <url-pattern>/WithdrawServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CloseAccountServlet</display-name>
    <servlet-name>CloseAccountServlet</servlet-name>
    <servlet-class>CloseAccountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CloseAccountServlet</servlet-name>
    <url-pattern>/CloseAccountServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NewCustomerLogin</display-name>
    <servlet-name>NewCustomerLogin</servlet-name>
    <servlet-class>NewCustomerLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewCustomerLogin</servlet-name>
    <url-pattern>/NewCustomerLogin</url-pattern>
  </servlet-mapping>
</web-app>